.container_articlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .photoCover img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .content {
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
  }
  
  .content > h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .content > p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  